

{% block _sortie_enregistrer_widget %}
    <button class="button" type="submit">Enregistrer</button>
{% endblock %}

{% block _sortie_publier_widget %}
    <button class="button is-success" type="submit">Publier la sortie</button>
{% endblock %}