@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


.navbar {

    width: 100%;
    padding-left: 8px;
}

.navbar-items {
    padding-right: 8px;
    justify-content: flex-end;
    align-items: center;
}

.navbar-items>a {
    padding: 0 8px 0 8px;
}

.form {
    display: inline-flex;
    width: 95%;
}

.form-cancel {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-content: center;
}

.form-title {
    width: 95%;
    display: flex;
    justify-content: center;
}

.form-left {
    flex: 50%;
    display: flex;
    flex-direction: column;
}

.form-right {
    flex: 50%;
}

.form-item {
    display: inline-flex;
}

.form-buttons {
    display: flex;
    width: 95%;
    justify-content: center;
    padding-top: 12px;
    gap: 8px;
}

.form-cancel-item {
    align-self: center;
}

.container {
    display: block;
    max-width:1100px;
}

.columns-filtres{
    width: 900px;

}

.column{
display:inline-flex;
}

.table thead {
    text-align-last: center;
}

.user-details {
    width: 153px;
    margin-left:600px;
}


.data-user{
    float: right;
}

.details-sortie {
    padding-left: 3px;
}

.titre-user-details {
    font-weight: bold ;
}

.champ-mdp {
    height: 400px;
    width: 400px;
    margin-left:245px;
}
.btn-connexion {
    float: right;
}

.tableau-mobile-visible {
    visibility: hidden;
}




@media screen and (max-width: 1200px){

    /*!*menu*!*/

    .navbar-brand{
        margin-top:30px;
    }

    .data-user{
        visibility: visible;

    }

    .h2-subtitle{
        visibility: visible;
    }

    .title-bienvenue{
        margin-top: 45px;
        margin-left: 20px;
    }

    .columns-filtres {
        visibility: visible;
        height:auto;
    }

    .container{
        max-width: 850px;
    }

    .columns-filtres{
        width: 868px;
    }

    .user-details {
        margin-left:355px;
    }
    .tableau-mobile-visible {
        visibility: hidden;
    }
    .button-sortie {
        visibility: visible;

    }
    .tableau-mobile-hidden {
        visibility: visible;
        display: flex;
    }

    .titre-user-details {
        font-weight: bold;
    }

    .h3-liste-participants{
        text-align: left;
    }

    .table-participants {
        margin-left: 0;
    }

    .button-retour-participants {
        margin-left: 0;
        margin-top: 20px;
    }

}

@media screen and (max-width: 900px){

    .container {
        max-width: 720px;
    }

    .champ-mdp {
        margin-left: 35px;
        margin-top: 100px;
    }


    .data-user{
        visibility: hidden;
        display: none;
    }

    .h2-subtitle{
        visibility: hidden;
        display: none;
    }

    .title-bienvenue{
        margin-top: 45px;
        margin-left: 20px;
    }

    .columns-filtres {
        visibility: hidden;
        display: table-column;
        height:0;
    }

    .tableau-sorties {
        margin-left: 68px;
    }

.button-sortie {
    visibility: hidden;
    display: none;
}
    .tableau-mobile-hidden {
        visibility: hidden;
        display: none;
    }

    .tableau-mobile-visible {
        visibility: visible;
    }
    .user-details {
        margin-left:287px;
    }

.titre-user-details {
 font-weight: normal;
}

    .h3-liste-participants{
        text-align: center;
    }

    .table-participants {
        margin-left: 231px;
    }

    .button-retour-participants {
        margin-left: 309px;
        margin-top: 20px;
    }

}