@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


.navbar {

    width: 100%;
    padding-left: 8px;
}

.navbar-items {
    padding-right: 8px;
    justify-content: flex-end;
}

.navbar-items>a {
    padding: 0 8px 0 8px;
}

.form {
    display: inline-flex;
    width: 95%;
}

.form-cancel {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-content: center;
}

.form-title {
    width: 95%;
    display: flex;
    justify-content: center;
}

.form-left {
    flex: 50%;
    display: flex;
    flex-direction: column;
}

.form-right {
    flex: 50%;
}

.form-item {
    display: inline-flex;
}

.form-buttons {
    display: flex;
    width: 95%;
    justify-content: center;
    padding-top: 12px;
    gap: 8px;
}

.form-cancel-item {
    align-self: center;
}

.container {
    display: block;
    max-width:1100px;
}

.columns-filtres{
    width: 900px;

}

.column{
display:inline-flex;
}

.table thead {
    text-align-last: center;
}

.user-details {
    width: 153px;
    margin-left:600px;
}


.data-user{
    float: right;
}

.details-sortie {
    padding-left: 3px;
}

.titre-user-details {
    font-weight: bold ;
}




@media screen and (max-width: 1200px){

    /*!*menu*!*/
    .navbar{

    }

    .navbar-brand{
        margin-top:30px;
    }


    .container{
        max-width: 850px;
    }

    .columns-filtres{
        width: 868px;
    }

    .user-details {
        margin-left:355px;
    }

}
